.filter {
  float: right;
  height: 100%;
  text-align: right;
  margin-right: 1em;
  padding: 0.5em;
}

.filter__select {
  margin-top: 5px;
  font-size: 1em;
  width: 500px;
}

@media all and (max-width: 699px) {
  .filter {
    margin-right: 0;
  }
  .filter__select {
    width: 230px;
  }
}
