body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-family: "Exo 2", sans-serif;
}

::selection {
  background: #b2d8d8;
}

a {
  color: teal;
  text-decoration: none;
  border-bottom: 1px solid teal;
}

.loading {
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;
}

strong {
  font-weight: 600;
}
