.task {
  margin: 1em 0;
  list-style-type: decimal;
  width: 90%;
}

.task__deadline {
  color: #bb0000;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: limegreen;
}

.violet {
  color: violet;
}

.indigo {
  color: indigo;
}

.gray {
  color: #999999;
}
