.task {
  margin: 1em 0;
  list-style-type: decimal;
}

.task [comment='true'] {
  font-size: 0.8em;
  color: dimgrey;
  font-weight: bold;
  font-style: italic;
  margin-top: -1em;
}

.task__deadline {
  color: #bb0000;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: limegreen;
}

.violet {
  color: violet;
}

.indigo {
  color: indigo;
}

.gray {
  color: #999999;
}
